.portfolio-container {
  font-family: "Gilroy-Bold", sans-serif;
  text-align: center;
  /* padding: 20px; */
  color: #333;
}

.portfolio-header {
  padding: 0px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-name {
  font-weight: 600;
  font-size: 22px;
  color: #4b5162;
}

.portfolio-name span {
  font-weight: 400;
  color: gray;
  font-size: 22px;
  font-family: "Gilroy-Regular", sans-serif;
}

.portfolio-header-content {
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6faff;
  width: 50%;
  padding: 0px 14px;
  margin-bottom: 40px;
}

/* ----------------------  */
.view-resume-button {
  background-color: #4864ec;
  color: white;
  font-size: 16px;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  border-radius: 78px;
}

.view-resume-button img {
  margin-left: 10px;
}

.profile-section .profile-image {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

.profile-section .portfolio-greeting {
  color: #282b37;
  font-size: 36px;
  font-weight: 400;
  font-family: "Gilroy-Regular", sans-serif;
  margin: 0;
  margin: 20px 0px;
}

.profile-section .portfolio-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 74px;
  margin: 0;
}

.profile-section .portfolio-title .highlighted-name {
  background: linear-gradient(to left, #e359e3, #637cc4, #0d96b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Makes text transparent for gradient */
}

.profile-section .non-high-lighted-name {
  color: #282b37;
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  font-family: "Gilroy-SemiBold", sans-serif;
}

.profile-section .portfolio-description {
  color: #282b37;
  font-size: 20px;
  font-weight: 400;
  font-family: "Gilroy-Regular", sans-serif;
}

.skills-section,
.scroll-container {
  background-color: #afd980;
  padding: 8px;
  margin-top: 20px;
}

.skills-section ul {
  display: flex;
  align-items: center;
  margin: 0px;
  justify-content: flex-start;
  height: 64px;
}

.skills-section ul li {
  list-style: none;
  margin: 0px 12px;
  font-size: 20px;
  font-weight: 400;
  min-width: fit-content;
  width: fit-content;
  font-family: "Gilroy-Medium", sans-serif;
}

.skills-section .scroll-item img {
  margin-right: 8px;
}

.scroll-container {
  overflow: hidden; /* Hide the overflow for a clean look */
  width: 100%; /* Set container width */
  position: relative;
}

.scroll-content {
  display: flex;
  /* animation: scroll-circle 10s linear infinite; Smooth infinite scrolling */
  align-items: center;
  justify-content: space-evenly;
}

.scroll-content .content {
  width: fit-content; /* Ensure items only take their needed space */
  margin: 0 20px; /* Add spacing between items */
}

@keyframes scroll-circle {
  0% {
    transform: translateX(0); /* Start at initial position */
  }
  100% {
    transform: translateX(-50%); /* Move by half the content width */
  }
}

.scroll-container:hover .scroll-content {
  /* animation-play-state: paused; */
}

.live-projects .live-projects-title {
  font-size: 28px;
  color: #282b37;
  margin: 30px;
  font-weight: 400;
  font-family: "Gilroy-Medium", sans-serif;
}
.live-projects .project-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.live-projects {
  padding: 40px 10%;
  background-color: #ededed;
}
.live-projects .project-card {
  width: calc(51% - 40px);
  height: 100%;
  border-radius: 40px;
  margin-bottom: 40px;
}

.live-projects .project-card:hover {
  background-color: #3d3d3d;
  background: #3d3d3d;
  transition: 1s;
}

.live-projects .project-card:hover .vide-case-project-icon {
  transform: rotate(-60deg);
  margin-left: 2px;
  transition: 1s;
}

.live-projects .project-card:hover .project-video {
  position: relative;
}

.live-projects .project-card:hover .project-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(61, 61, 61, 0.7);
  z-index: 2;
}

.live-projects .project-card:hover .badge-live {
  background-color: #3d3d3d;
  color: white;
}

.live-projects .project-card:hover .badge-category {
  background-color: #3d3d3d;
  color: white;
}

.live-projects .project-card-type1 {
  background: linear-gradient(to top, #0b6af0, #22448f);
}

.live-projects .project-card-type2 {
  background: linear-gradient(to top, #24a186, #134762);
}

.live-projects .project-card-type3 {
  background: linear-gradient(to top, #5b77eb, #311a64);
}

.live-projects .project-card-type4 {
  background: linear-gradient(to top, #505564, #000000);
}
.live-projects .project-card-type5 {
  background: linear-gradient(to top, #a9283c, #353d71);
}

.live-projects .project-card-type6 {
  background: linear-gradient(to top, #fbbc04, #c1930c);
}

.live-projects .project-image-container .project-video {
  height: 320px;
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.live-projects .project-info {
  text-align: left;
  margin: 30px 20px;
}

.live-projects .project-info h3 {
  font-size: 26px;
  font-weight: 400;
  margin: 10px 0px;
  color: white;
}

.live-projects .view-case-button {
  background-color: white;
  border-radius: 450px;
  padding: 12px 20px;
  color: #282b37;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 0px 0px black;
}

.view-case-button img {
  margin-left: 10px;
}

.live-projects .project-info p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Gilroy-Regular", sans-serif;
  margin: 10px 0px;
  color: white;
}

.live-projects .project-image-container {
  position: relative;
}

.live-projects .badge-live {
  background-color: #5a5d67;
  border-radius: 120px;
  color: white;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: fit-content;
  padding: 6px 16px;
  margin-right: 10px;
}

.live-projects .project-badges {
  position: absolute;
  left: 30px;
  top: 30px;
}

.live-projects .badge-category {
  border-radius: 80px;
  width: fit-content;
  padding: 6px 16px;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.live-projects .badge-category-type1 {
  background-color: #0f65e2;
  color: white;
}

.live-projects .badge-category-type2 {
  background-color: #3ab6b6;
  color: white;
}

.live-projects .badge-category-type3 {
  background-color: white;
  color: #282b37;
}

.more-creations-section .creations-title {
  color: #282b37;
  font-size: 42px;
  font-weight: 400;
  font-family: "Gilroy-Medium", sans-serif;
}

.more-creations-section {
  margin: 40px 0px;
  background-color: white;
  padding: 0px 10%;
}

.more-creations-section .creations-grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.creation-card .creation-title {
  font-size: 22px;
  font-weight: 400;
  font-family: "Gilroy-Medium", sans-serif;
  text-align: left;
  margin: 12px 0px;
}

.more-creations-section .creation-card:hover {
  background-color: #dddddd;
  transition: 0.5s;
  transform-origin: center;
}

.more-creations-section .creation-card:hover .creation-svg-icon {
  transition: 0.5s;
  background-color: white;
  padding: 12px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-creations-section .creation-card:hover .app-icon {
  background-color: #dddddd;
  transition: 0.5s;
}
.more-creations-section .creation-card .creation-image {
  width: 100%;
  height: 100%;
}

.more-creations-section .creation-card {
  width: calc(31% - 16px);
  border: 1px solid #dddddd;
  padding: 12px;
  border-radius: 20px;
  min-height: 500px;
  overflow: hidden;
  margin: 8px;
}

.more-creations-section .app-icons {
  gap: 6px;
}

.more-creations-section .app-icon {
  border: 1px solid black;
  border-radius: 100px;
  padding: 5px 12px;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  min-width: 112px;
  gap: 2px;
}

.more-creations-section .app-icon .creation-app-icon-img {
  width: 12px;
}

.more-creations-section .app-icon span {
  font-size: 12px;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
}

.design-process {
  background-color: #000000;
  padding: 100px 10%;
}

.design-process .title {
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-family: "Gilroy-Medium", sans-serif;
  margin: 20px 0px;
  margin-bottom: 40px;
}

.design-process .steps-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.steps-container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.steps-container .content .id {
  font-size: 42px;
  font-family: "Gilroy-Thin", sans-serif;
  font-weight: 400;
  color: #ffffff;
  opacity: 60%;
  margin: 0;
}

.steps-container .content .title {
  font-size: 24px;
  color: white;
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 400;
  margin: 0;
}

.design-process .step {
  margin-top: 30px;
  background-color: white;
  width: calc(18% - 10px);
  padding: 16px 16px;
  border-radius: 12px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .design-process .step {
    width: calc(45% - 10px) !important;
  }

  .portfolio-header {
    padding: 0px 100px;
  }

  .portfolio-header-content {
    width: 100%;
  }

  .about .contact_info {
    flex-direction: column;
  }

  .about .contact_info a {
    font-size: 12px;
  }

  .about .contact {
    padding: 0px !important;
  }
}

@media screen and (max-width: 500px) {
  .design-process .step {
    width: calc(80% - 10px) !important;
  }

  .more-creations-section .creation-card {
    width: 100%;
  }

  .design-process .content {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .project-icon-image img {
    width: 100%;
    height: 100%;
  }

  .project-icon-image {
    width: 100%;
  }

  .project_and_client ul {
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-wrap: wrap;
    padding: 0 !important;
  }

  .project_and_client_title {
    font-size: 14px;
  }

  .project_and_client li {
    list-style: none;
    width: 45px;
    margin: 8px 16px;
  }

  .live-projects .project-card {
    width: calc(108% - 40px);
    margin: 0px;
    border-radius: 20px;
  }

  .live-projects .project-cards {
    justify-content: center;
  }

  .portfolio-header .portfolio-header-content {
    flex-direction: inherit;
  }

  .design-process {
    background-color: #000000;
    padding: 50px 5%;
  }

  .profile-section .portfolio-title {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
  }

  .profile-section .non-high-lighted-name {
    font-size: 32px;
  }

  .more-creations-section .creation-card {
    border: none;
    padding: 0px;
    border-radius: 0px;
    min-height: fit-content;
    margin: 0px;
    width: 45%;
    margin-bottom: 24px;
  }

  .more-creations-section .creations-grid {
    justify-content: space-evenly !important;
  }

  .more-creations-section .app-icon {
    border: 0.66px solid black;
    border-radius: 100px;
    padding: 3px 2px;
    font-family: "Gilroy-Regular", sans-serif;
    font-weight: 400;
    font-size: 7px;
    min-width: fit-content;
    gap: 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .more-creations-section .app-icon img {
    width: 6px !important;
    margin-right: 1px;
  }

  .more-creations-section .app-icon span {
    font-size: 7px;
  }

  .preview-image {
    width: 75%;
  }

  .portfolio-header,
  .live-projects,
  .more-creations-section {
    padding: 0px 2%;
  }

  .live-projects {
    background-color: #edf4ff;
    padding: 0px 5%;
  }

  .live-projects .project-image-container .project-video {
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }
}
.design-process .step img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.design-process .step h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0px;
  font-family: sans-serif;
}

.design-process .step p {
  text-align: left;
  font-size: 14px;
  margin: 0;
  font-family: "Gilroy-Regular", sans-serif;
}

.about {
  margin: 60px 0px;
  width: 100%;
}

.about .about_bio img {
  width: 100%;
  object-fit: fill;
}

.about .about_bio {
  padding: 0px 10%;
}

.about .contact {
  padding: 0px 100px;
}
.about .border_line {
  border-bottom: 1px solid #bfbfbf;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about .contact_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .contact_info a {
  list-style: none;
  cursor: pointer;
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  font-family: "Gilroy-Regular", sans-serif;
}

.about .contact_info a:hover {
  color: #0b6af0;
}

.fullScreenImagePopup {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-image {
  position: relative;
}

.close-icon {
  position: absolute;
  right: 0;
  top: -32px;
  width: 32px;
  height: 32px;
  z-index: 3;
}

.preview {
  position: relative;
}

.container {
  width: 100%; /* Full width of the screen */
  height: 50px; /* You can adjust the height */
  overflow: hidden; /* Hide the overflowed text */
  position: relative; /* To ensure positioning of the moving text */
  background-color: #f0f0f0; /* Optional background color */
}

.moving-text {
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping */
  animation: move 10s linear forwards; /* Animation that moves the text */
}

.word {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between words (reduce space) */
}

@keyframes move {
  0% {
    transform: translateX(0); /* Start from the left of the container */
  }
  100% {
    transform: translateX(-100%); /* Move completely out of view (left) */
  }
}
